# Compiler files
cache/
out/
bin/
dist

# Ignores development broadcast logs
!/broadcast
/broadcast/**/dry-run/
logs

# Dotenv file
.env

# package managers
bun.lockb
node_modules
yarn.lock
*.log

# TypeScript
*.tsbuildinfo
